html, body {
    width: 100%;
    height: 100%;
}

.section + .section {
    padding-top: 2rem;
}

p {
    margin-bottom: 1rem;
}

.hero {
    width: 100%;
    height: 150px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url('../img/people.jpg');
    background-size: cover;
    background-position: center top;
    color: #fff;
    display: table;
    text-align: center;
}

.hero .container {
    display: table-cell;
    vertical-align: middle;
    line-height: 1;
    letter-spacing: -0.05rem;
}

.hero .container .tagline {
    font-size: 9.5vw;
}

.hero .container .tagline span {
    font-weight: bold;
}

.hero .container .sub-tagline {
    font-size: 3.5vw;
}

.tabber .tabs {
    text-align: center;
    width: 100%;
}

.tabber .tabs a {
    background-color: white;
    opacity: 0.8;
    transition: 0.4s opacity ease-in-out;
}

.tabber .tabs a.active, .tabber .tabs a.active:hover {
    opacity: 1;
}

.tabber .tabs a:hover {
    opacity: 0.9;
}

.column img {
    max-height: 100px;
    padding-bottom: 5px;
    display: block;
    margin: auto;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    margin-bottom: -35px; 
}

.wrapper:after {
    content: "";
    display: block;
}

.content {
    margin-bottom: 20px;
}

.content > div {
    display: none;
}

.fb-like-box, .fb-like-box span, .fb-like-box iframe {
    width: 100% !important;
    height: 400px !important;
}

.footer, .wrapper:after {
    height: 35px; 
}

.footer {
    text-align: center;
    font-size: 1rem;
    color: gray;
}

@media screen and (min-width: 400px) {
    .hero {
        height: 200px;
    }

    .hero .container .tagline {
        font-size: 8vw;
    }

    .hero .container .tagline span {
        font-weight: bold;
    }

    .hero .container .sub-tagline {
        font-size: 2.7vw;
    }
}

@media screen and (min-width: 750px) {
    .hero {
        height: 460px;
        background-attachment: fixed;
    }

    .tabber {
        position: relative;
    }

    .tabber .tabs {
        position: absolute;
        top: -3.82rem;
    }

    .tabber .tabs a {
        border-bottom: 0;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

@media screen and (min-width: 1120px) {
    h3 span {
        display: block;
    }
}
